<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>

<button (click)="increment()">Increment</button>

<div>Current Count: {{ count$ | async }}</div>

<button (click)="decrement()">Decrement</button>

<button (click)="reset()">Reset Counter</button>

<p>Today's Date : {{todayDate}}</p>
<div>
  <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
    <input type="text" class="fortextbox" name="emailid" placeholder="emailid"
           formControlName="emailid">
    <br />
    <input type="password" class="fortextbox" name="passwd"
           placeholder="passwd" formControlName="passwd">
    <br />
    <input type="submit" [disabled]="!formdata.valid" class="forsubmit"
           value="Log In">
  </form>
</div>
